{% extends "base.html" %}

{% load static %}

{% block title %}
Registrar - Administrador
{% endblock %}

{% block botonbloques %}
<li class="nav-item">
    <a class="nav-link active text-white fw-bold" aria-current="page" href="{% url 'administrador' %}">Home</a>
</li>

<li class="nav-item">
    <a class="nav-link text-white fw-bold" href="{% url 'listadoBloques' %}">Bloques</a>
</li>
{% endblock botonbloques %}

{% block content %}
<body>
    <center><br><h1>Registrarse</h1></center>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar</button>
    </form>
</body>
<style>
    /* Estilos para el formulario */
    form {
        max-width: 700px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f2f2f2;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    /* Estilos para los campos del formulario */
    form input[type="text"],
    form input[type="email"],
    form input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    /* Estilos para el botón del formulario */
    form button {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-weight: bold;
    }

    /* Estilos para el botón del formulario al pasar el ratón por encima */
    form button:hover {
        background-color: #0056b3;
    }

</style>
{% endblock content %}